<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Form</title>
    <link rel="stylesheet" href="/css/updateuser.css" />
</head>
<body>
<div class="container">
    <h2>Update Form</h2>
    <form id="updateuser" th:action="'/admin1/update/v1/'+ ${admin1.id}" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="first-name" >First Name</label>
                <input type="text" id="first-name" name="firstName" th:value="${admin1.firstName}" required />
            </div>
            <div class="form-group">
                <label for="middle-name" >Middle Name</label>
                <input type="text" id="middle-name" name="middleName" th:value="${admin1.middleName}"/>
            </div>
            <div class="form-group">
                <label for="last-name" >Last Name</label>
                <input type="text" id="last-name" name="lastName" th:value="${admin1.lastName}" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="mobile-number" >Mobile Number</label>
                <input
                        type="number"
                        id="mobile-number"
                        name="mobile"
                        th:value="${admin1.mobile}"
                        required
                />
            </div>
            <div class="form-group">
                <label for="email" >Email</label>
                <input type="email" id="email" name="email" th:value="${admin1.email}" required />
            </div>
            <div class="form-group">
                <label for="gender" >Gender</label>
                <select id="gender" name="gender" th:value="${admin1.gender}"required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="dob" >Date of Birth</label>
                <input type="date" id="dob" name="dob" th:value="${admin1.dob}" required />
            </div>
            <div class="form-group">
                <label for="adhaar-card" >Adhaar Card</label>
                <input type="text" id="adhaar-card" name="adharNo" th:value="${admin1.adharNo}"  />
            </div>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
