<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
    <link rel="stylesheet" href="/css/userdeatils.css" />
</head>
<body>
<div class="main-content">
    <h1>User Details</h1>
    <div class="user-info">
        <h2>Personal Information</h2>
        <p><strong>ID:</strong> <span th:text="${admin1.id}"></span></p>
        <p>
            <strong>First Name:</strong>
            <span th:text="${admin1.firstName}"></span>
        </p>
        <p>
            <strong>Last Name:</strong> <span th:text="${admin1.lastName}"></span>
        </p>
        <p><strong>Gender:</strong> <span th:text="${admin1.gender}"></span></p>
        <p><strong>Email:</strong> <span th:text="${admin1.email}"></span></p>
        <p>
            <strong>Mobile No:</strong> <span th:text="${admin1.mobile}"></span>
        </p>
    </div>
    <div class="account-info">
        <h2>Account Information</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Account No</th>
                    <th>account_Type</th>
                    <th>Balance</th>
                    <th>opening</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.accountNo}"></td>
                    <td th:text="${account.account_type}"></td>
                    <td th:text="${account.balance}"></td>
                    <td th:text="${account.opening}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

