[submodule "MKPITS_COREJAVA_SAMIKSHA-DORSETWAR"]
	path = MKPITS_COREJAVA_SAMIKSHA-DORSETWAR
	url = https://github.com/Samikshador5534/MKPITS_COREJAVA_SAMIKSHA-DORSETWAR.git
[submodule "MKPITS_HTML_SAMIKSHA_DORSETWAR"]
	path = MKPITS_HTML_SAMIKSHA_DORSETWAR
	url = https://github.com/Samikshador5534/MKPITS_HTML_SAMIKSHA_DORSETWAR.git
