#img1 {
  float: left;
  margin-right: 10px;
}

#img2 {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid palegoldenrod;
}
p {
  color: brown;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px 5px yellow;
  clear: both;
}
body {
  background-color: beige;
}
