table,
th,
td {
  border: 2px solid rgb(5, 135, 8);
  border-collapse: collapse;
  border-collapse: inherit;
  border-spacing: 5px 10px;
  padding: 2px;
  caption-side: bottom;
  empty-cells: hide;
}
