p {
  text-align: center;
  color: rgb(221, 100, 7);
  background-color: bisque;
  text-decoration: none;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: underline;
  text-decoration-color: black;
}
