* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f3f4f6;
  color: #374151;
}

.main-content {
  margin: 20px;
  width: calc(100% - 40px);
  overflow: auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.user-info,
.account-info {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #374151;
  color: #fff;
}

td {
  background: #f9fafb;
}

tr:nth-child(even) td {
  background: #f3f4f6;
}

tr:hover td {
  background: #e5e7eb;
}

.update-form {
  margin-top: 20px;
  text-align: left;
}

.update-form button {
  padding: 10px 20px;
  background-color: #87cefa;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 19px;
  cursor: pointer;
  font:bold;
}

.update-form button:hover {
  background-color: #DAF7A6;
}

.update-form a{
    color: white
font-size:20px;
  text-decoration: none;
}

.update-form a:link{
  color: white;

}

.action-icons button {
          background: none;
          border: none;
          cursor: pointer;
        }
        .action-icons button img {
          width: 30px;
          height: 30px;
        }
